In [58]:
import numpy as np
import pandas as pd
from glob import glob

In [59]:
consumption = glob("C:/Users/Master/Desktop/consumption/소비*.csv")
tmp_raw=[]
for fname in consumption:                      
    tmp = pd.read_csv(fname, header=0, encoding="euc-kr")
    tmp_raw.append(tmp)

In [60]:
consumption_raw = pd.concat(tmp_raw)
consumption_raw

,기준년월,행정동코드,시도명,시군구명,성별,연령별,직업구분,분위구분,최근12개월신용및체크카드이용금액합계,최근12개월전체체크카드이용금액합계,...,최근12개월해외이용인구수,최근1개월신용및체크카드이용금액합계,최근1개월체크카드이용금액합계,최근1개월해외신판이용금액합계,최근1개월평균신용및체크카드이용금액,최근1개월평균체크카드이용금액,최근1개월평균해외이용금액,최근1개월신용및체크카드이용인구수,최근1개월체크카드이용인구수,최근1개월해외이용인구수
0,20161231,2820000000,인천광역시,남동구,0,0,0,3,296308759.0,92537860.0,...,4765,26556837.0,7889361.0,316840.0,971.0,456.0,206.0,27354,17301,1539
1,20161231,2820000000,인천광역시,남동구,0,0,1,8,135451592.0,14705899.0,...,1124,12094646.0,1410597.0,100858.0,1776.0,557.0,360.0,6811,2531,280
2,20161231,2820000000,인천광역시,남동구,0,0,3,2,112820529.0,31910636.0,...,2221,10282932.0,2669801.0,183456.0,1316.0,466.0,244.0,7814,5734,751
3,20161231,2820000000,인천광역시,남동구,0,0,4,7,225069908.0,45991181.0,...,2277,19095183.0,3798411.0,210030.0,1575.0,593.0,337.0,12123,6406,624
4,20161231,2820000000,인천광역시,남동구,0,15,1,1,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14728,20200630,2826000000,인천광역시,서구,0,20,1,9,6501804.0,1470820.0,...,78,582068.0,123270.0,22288.0,3855.0,1045.0,1114.0,151,118,20
14729,20200630,2826000000,인천광역시,서구,1,50,4,5,28760604.0,10222676.0,...,142,3153369.0,1212720.0,2935.0,973.0,539.0,89.0,3241,2251,33
14730,20200630,2826000000,인천광역시,서구,2,0,0,7,373219389.0,67351271.0,...,4311,31437926.0,5680193.0,96002.0,1699.0,523.0,122.0,18502,10870,786
14731,20200630,2826000000,인천광역시,서구,2,30,1,9,12807651.0,1740512.0,...,142,1124902.0,126283.0,27868.0,3866.0,683.0,715.0,291,185,39
14732,20200630,2826000000,인천광역시,서구,0,80,3,0,396319.0,38416.0,...,2,31507.0,5179.0,NaN,670.0,370.0,NaN,47,14,0

In [61]:
print(consumption_raw.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 218508 entries, 0 to 14732
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   기준년월                   218508 non-null  int64
 1   행정동코드                  218508 non-null  int64
 2   시도명                    218508 non-null  object
 3   시군구명                   218508 non-null  object
 4   성별                     218508 non-null  int64
 5   연령별                    218508 non-null  int64
 6   직업구분                   218508 non-null  int64
 7   분위구분                   218508 non-null  int64
 8   최근12개월신용및체크카드이용금액합계    184618 non-null  float64
 9   최근12개월전체체크카드이용금액합계     184074 non-null  float64
 10  최근12개월해외이용금액합계         165967 non-null  float64
 11  최근12개월평균신용및체크카드이용금액합계  184618 non-null  float64
 12  최근12개월평균체크카드이용금액       184074 non-null  float64
 13  최근12개월평균해외이용금액         165967 non-null  float64
 14  최근12개월신용및체크카드이용인구수     218508 non-null  int64
 15  최근12개월체크카드이용인구수        218508 non-null  int64
 16  최근12개월해외이용인구수          218508 non-null  int64
 17  최근1개월신용및체크카드이용금액합계     184352 non-null  float64
 18  최근1개월체크카드이용금액합계        182034 non-null  float64
 19  최근1개월해외신판이용금액합계        139826 non-null  float64
 20  최근1개월평균신용및체크카드이용금액     184352 non-null  float64
 21  최근1개월평균체크카드이용금액        182034 non-null  float64
 22  최근1개월평균해외이용금액          139826 non-null  float64
 23  최근1개월신용및체크카드이용인구수      218508 non-null  int64
 24  최근1개월체크카드이용인구수         218508 non-null  int64
 25  최근1개월해외이용인구수           218508 non-null  int64
dtypes: float64(12), int64(12), object(2)
memory usage: 45.0+ MB
None

In [62]:
consumption_raw["최근12개월신용및체크카드이용금액합계"].fillna(0, inplace=True)
consumption_raw["최근12개월전체체크카드이용금액합계"].fillna(0, inplace=True)
consumption_raw["최근12개월해외이용금액합계"].fillna(0, inplace=True)
consumption_raw["최근12개월평균신용및체크카드이용금액합계"].fillna(0, inplace=True)
consumption_raw["최근12개월평균체크카드이용금액"].fillna(0, inplace=True)
consumption_raw["최근12개월평균해외이용금액"].fillna(0, inplace=True)
consumption_raw["최근12개월체크카드이용인구수"].fillna(0, inplace=True)
consumption_raw["최근1개월신용및체크카드이용금액합계"].fillna(0, inplace=True)
consumption_raw["최근1개월체크카드이용금액합계"].fillna(0, inplace=True)
consumption_raw["최근1개월해외신판이용금액합계"].fillna(0, inplace=True)
consumption_raw["최근1개월평균신용및체크카드이용금액"].fillna(0, inplace=True)
consumption_raw["최근1개월평균체크카드이용금액"].fillna(0, inplace=True)
consumption_raw["최근1개월평균해외이용금액"].fillna(0, inplace=True)
consumption_raw["최근1개월신용및체크카드이용인구수"].fillna(0, inplace=True)
consumption_raw["최근1개월체크카드이용인구수"].fillna(0, inplace=True)
consumption_raw["최근1개월해외이용인구수"].fillna(0, inplace=True)

In [63]:
consumption_raw.isnull().sum()

기준년월                     0
행정동코드                    0
시도명                      0
시군구명                     0
성별                       0
연령별                      0
직업구분                     0
분위구분                     0
최근12개월신용및체크카드이용금액합계      0
최근12개월전체체크카드이용금액합계       0
최근12개월해외이용금액합계           0
최근12개월평균신용및체크카드이용금액합계    0
최근12개월평균체크카드이용금액         0
최근12개월평균해외이용금액           0
최근12개월신용및체크카드이용인구수       0
최근12개월체크카드이용인구수          0
최근12개월해외이용인구수            0
최근1개월신용및체크카드이용금액합계       0
최근1개월체크카드이용금액합계          0
최근1개월해외신판이용금액합계          0
최근1개월평균신용및체크카드이용금액       0
최근1개월평균체크카드이용금액          0
최근1개월평균해외이용금액            0
최근1개월신용및체크카드이용인구수        0
최근1개월체크카드이용인구수           0
최근1개월해외이용인구수             0
dtype: int64

In [64]:
consumption_raw["최근12개월신용및체크카드이용금액합계"]

0        296308759.0
1        135451592.0
2        112820529.0
3        225069908.0
4                0.0
            ...
14728      6501804.0
14729     28760604.0
14730    373219389.0
14731     12807651.0
14732       396319.0
Name: 최근12개월신용및체크카드이용금액합계, Length: 218508, dtype: float64

In [48]:
income = glob("C:/Users/Master/Desktop/income/소득*.csv")
tmp_raw=[]
for fname in income:                      
    tmp = pd.read_csv(fname, header=0, encoding="euc-kr")
    tmp_raw.append(tmp)

In [49]:
income_raw = pd.concat(tmp_raw)
income_raw

,기준년월,행정동코드,시도명,시군구명,성별,연령별,직업구분,분위구분,평균소득,중위소득,평균처분가능소득,중위처분가능소득,소득분위배율,소득점유율,소득경계값,소득산출인구수,소득미산출인구수,소득미산출인구포함평균소득,소득미산출 인구포함 평균소득
0,20161231,2820000000,인천광역시,남동구,2,15,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN
1,20161231,2820000000,인천광역시,남동구,1,70,3,1,1307.0,1400.0,420.0,612.0,100.0,6.1,1600.0,69,69,1307.0,NaN
2,20161231,2820000000,인천광역시,남동구,1,50,1,4,2338.0,2400.0,558.0,1562.0,188.5,0.9,2400.0,110,110,2338.0,NaN
3,20161231,2820000000,인천광역시,남동구,1,20,4,8,3372.0,3300.0,2125.0,2581.0,223.9,0.8,3600.0,107,107,3372.0,NaN
4,20161231,2820000000,인천광역시,남동구,1,0,1,2,1812.0,1800.0,-263.0,571.0,145.2,1.1,2000.0,510,510,1812.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14685,20200630,2826000000,인천광역시,서구,2,0,2,5,2819.0,2800.0,2209.0,2568.0,190.9,1.9,2900.0,113,113,2819.0,NaN
14686,20200630,2826000000,인천광역시,서구,2,0,3,10,7034.0,6200.0,5506.0,5800.0,448.2,16.1,99900.0,3418,3418,7034.0,NaN
14687,20200630,2826000000,인천광역시,서구,2,50,3,5,2809.0,2800.0,2257.0,2666.0,NaN,7.4,2900.0,843,843,2809.0,NaN
14688,20200630,2826000000,인천광역시,서구,2,60,0,8,4025.0,4000.0,2906.0,3700.0,232.2,9.4,4500.0,1577,1577,4025.0,NaN
14689,20200630,2826000000,인천광역시,서구,2,80,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,9,NaN,NaN

In [51]:
print(income_raw.info())
print(income_raw.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 218104 entries, 0 to 14689
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   기준년월             218104 non-null  int64
 1   행정동코드            218104 non-null  int64
 2   시도명              218104 non-null  object
 3   시군구명             218104 non-null  object
 4   성별               218104 non-null  int64
 5   연령별              218104 non-null  int64
 6   직업구분             218104 non-null  int64
 7   분위구분             218104 non-null  int64
 8   평균소득             182678 non-null  float64
 9   중위소득             182678 non-null  float64
 10  평균처분가능소득         182678 non-null  float64
 11  중위처분가능소득         182678 non-null  float64
 12  소득분위배율           171114 non-null  float64
 13  소득점유율            182678 non-null  float64
 14  소득경계값            182678 non-null  float64
 15  소득산출인구수          218104 non-null  int64
 16  소득미산출인구수         218104 non-null  int64
 17  소득미산출인구포함평균소득    170384 non-null  float64
 18  소득미산출 인구포함 평균소득  12294 non-null   float64
dtypes: float64(9), int64(8), object(2)
memory usage: 33.3+ MB
None
기준년월                    0
행정동코드                   0
시도명                     0
시군구명                    0
성별                      0
연령별                     0
직업구분                    0
분위구분                    0
평균소득                35426
중위소득                35426
평균처분가능소득            35426
중위처분가능소득            35426
소득분위배율              46990
소득점유율               35426
소득경계값               35426
소득산출인구수                 0
소득미산출인구수                0
소득미산출인구포함평균소득       47720
소득미산출 인구포함 평균소득    205810
dtype: int64

In [53]:
income_raw["평균소득"].fillna(0, inplace=True)
income_raw["중위소득"].fillna(0, inplace=True)
income_raw["평균처분가능소득"].fillna(0, inplace=True)
income_raw["중위처분가능소득"].fillna(0, inplace=True)
income_raw["소득분위배율"].fillna(0, inplace=True)
income_raw["소득점유율"].fillna(0, inplace=True)
income_raw["소득경계값"].fillna(0, inplace=True)
income_raw["소득미산출인구포함평균소득"].fillna(0, inplace=True)
income_raw["소득미산출 인구포함 평균소득"].fillna(0, inplace=True)

In [67]:
result = pd.merge(consumption_raw,income_raw, how="inner")
result

,기준년월,행정동코드,시도명,시군구명,성별,연령별,직업구분,분위구분,최근12개월신용및체크카드이용금액합계,최근12개월전체체크카드이용금액합계,...,중위소득,평균처분가능소득,중위처분가능소득,소득분위배율,소득점유율,소득경계값,소득산출인구수,소득미산출인구수,소득미산출인구포함평균소득,소득미산출 인구포함 평균소득
0,20161231,2820000000,인천광역시,남동구,0,0,0,3,296308759.0,92537860.0,...,2100.0,1733.0,2000.0,149.2,6.3,2200.0,32328,32328,2078.0,0.0
1,20161231,2820000000,인천광역시,남동구,0,0,1,8,135451592.0,14705899.0,...,3400.0,2534.0,3040.0,271.2,19.1,3600.0,7430,7430,3382.0,0.0
2,20161231,2820000000,인천광역시,남동구,0,0,3,2,112820529.0,31910636.0,...,1800.0,1302.0,1646.0,134.6,4.6,2000.0,8234,8234,1804.0,0.0
3,20161231,2820000000,인천광역시,남동구,0,0,4,7,225069908.0,45991181.0,...,3000.0,2575.0,2900.0,209.1,10.2,3100.0,19304,19304,3005.0,0.0
4,20161231,2820000000,인천광역시,남동구,0,15,1,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218099,20200630,2826000000,인천광역시,서구,0,20,1,9,6501804.0,1470820.0,...,5100.0,4220.0,4800.0,307.3,15.2,5800.0,152,152,5170.0,0.0
218100,20200630,2826000000,인천광역시,서구,1,50,4,5,28760604.0,10222676.0,...,2800.0,2417.0,2700.0,0.0,14.6,2900.0,3643,3643,2795.0,0.0
218101,20200630,2826000000,인천광역시,서구,2,0,0,7,373219389.0,67351271.0,...,3400.0,2731.0,3215.0,210.7,11.6,3700.0,20121,20121,3433.0,0.0
218102,20200630,2826000000,인천광역시,서구,2,30,1,9,12807651.0,1740512.0,...,5150.0,3874.0,4600.0,306.0,14.7,5800.0,292,292,5195.0,0.0
218103,20200630,2826000000,인천광역시,서구,0,80,3,0,396319.0,38416.0,...,1500.0,1414.0,1500.0,140.9,100.0,11500.0,57,57,2119.0,0.0

In [68]:
result.isnull().sum()

기준년월                     0
행정동코드                    0
시도명                      0
시군구명                     0
성별                       0
연령별                      0
직업구분                     0
분위구분                     0
최근12개월신용및체크카드이용금액합계      0
최근12개월전체체크카드이용금액합계       0
최근12개월해외이용금액합계           0
최근12개월평균신용및체크카드이용금액합계    0
최근12개월평균체크카드이용금액         0
최근12개월평균해외이용금액           0
최근12개월신용및체크카드이용인구수       0
최근12개월체크카드이용인구수          0
최근12개월해외이용인구수            0
최근1개월신용및체크카드이용금액합계       0
최근1개월체크카드이용금액합계          0
최근1개월해외신판이용금액합계          0
최근1개월평균신용및체크카드이용금액       0
최근1개월평균체크카드이용금액          0
최근1개월평균해외이용금액            0
최근1개월신용및체크카드이용인구수        0
최근1개월체크카드이용인구수           0
최근1개월해외이용인구수             0
평균소득                     0
중위소득                     0
평균처분가능소득                 0
중위처분가능소득                 0
소득분위배율                   0
소득점유율                    0
소득경계값                    0
소득산출인구수                  0
소득미산출인구수                 0
소득미산출인구포함평균소득            0
소득미산출 인구포함 평균소득          0
dtype: int64